* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: rgba(0, 0, 0, 0) url("images/musical-background-2886886_960_720.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    border: 3px solid white;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: cursive;
}

h2 {
    color: #8d1515;
    font-size: 25px;
}

h3 {
    color: #8d1515;
    font-size: 18px;
}

form {
    padding-right: 8px;
}

input, select, button {
    border: 1px solid #0E4EB4;
    padding: 15px 20px;
    margin: 15px;
    border-radius: 15px;
    color: red;
}

button {
    background-color: transparent;
    border: 2px solid #6D7296;
}

button:hover {
    background-color: #EFC43F;
    color: black;
}

button[type=submit] {
    background-color: white;
    border: 2px solid #C01C17;
    position: right;
}

button[type=submit]:hover {
    color: #C01C17;
}

label {
    display: block;
    margin: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
The clearfix Hack: If an element is taller than the element containing it, and it is floated, it will "overflow" outside of its container
https://www.w3schools.com/css/css_float_clear.asp
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
header {
    text-align: center;
}

header .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: cursive;
    font-weight: bold;
    color: rgb(24, 83, 150);
    font-size: 63px;
    text-decoration: none;
}

header nav {
    width: 100%;
    display: block;
    text-align: center;
}

header nav ul{
    width: 100%;
}

header nav ul li{
    width: auto;
    display: inline-block;
    border-right: 1px solid white;
    padding: 5px 10px;
}

header nav ul li:last-child{
    border-right: 0px;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

main.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: 20px auto;
    padding: 100px;
}

main.container form label.form-left-column, main.container form button.form-right-column {
    display: inline-block;
    width: auto;
}

section.wrapper {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    
}

/* main.container form label.form-left-column input {
    
    width: 70%;
} */

section ul li img.results-image {
    display: inline-block;
    float: right;
    width: 40%;
    margin-left: 10px;
    border: 1px solid gray;
    border-radius: 15px;
}

section ul li h3 {
    font-size: 120%;
    margin-bottom: 10px;
}

section ul li p {
    font-size: 110%;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
    width: 100%;
    display: block;
}
footer ul.contact-list{
    display: block;
    text-align: center;
}
footer ul.contact-list li{
    display: inline-block;
    width: auto;
}

/*large desktop*/

@media only screen and (max-width: 1600px) {
    body {
        border: 3px solid yellow;
    }
}

/*iPad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    body {
        border: 3px solid blue;
    }
}

/*iPad potrait*/

@media only screen and (max-width: 768px) {
    body {
        border: 3px solid red;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    header nav {
        margin-top: 14px;
    }
    section {
        padding: 0 10%;
    }
    .group {
        flex-direction: row;
    }
}

/*Android landscape*/

@media only screen and (max-width: 640px) {
    body {
        border: 3px solid pink;
    }

}

/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        border: 3px solid pink;
    }
}

/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        border: 3px solid pink;
    }
}

